body {
  background-color: #f1f5f6;
}

.L_person {
  display: flex;
  height: 85px;
  background: linear-gradient(to left, #653020, #0e0309);
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

.L_person dl {
  flex: 1;
  margin-left: 20px;
  display: flex;
}

.L_person dl dt {
  margin-top: 15px;
  width: 55px;
  height: 55px;
}

.L_person dl dt img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.L_person dl dd {
  font-size: 1.2rem;
  margin-left: 8px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.L_person dl dd div:nth-child(1) {
  margin-top: 20px;
}

.L_person dl dd div:nth-child(2) {
  margin-top: 12px;
  display: flex;
}

.L_person dl dd div:nth-child(2) img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
}

.L_person span {
  display: block;
  width: 45px;
  height: 85px;
  text-align: center;
  line-height: 85px;
}

.L_accout {
  display: flex;
  height: 60px;
  background-color: #fff;
}

.L_accout dl {
  flex: 1;
  height: 42px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.L_accout dl dt {
  font-size: 1.4rem;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.L_accout dl dd {
  flex: 1;
  text-align: center;
  color: #9e9fa0;
}

.L_accout dl:nth-child(1) {
  border-right: 1px solid #ccc;
}

.L_accout dl:nth-child(2) {
  border-right: 1px solid #ccc;
}

.L_nav1 {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 165px;
  margin-top: 10px;
  background-color: #fff;
  flex-direction: column;
}

.L_nav1 dl {
  flex: 1;
  height: 55px;
  display: flex;
}

.L_nav1 dl dt {
  flex: 1;
  display: flex;
}

.L_nav1 dl dt span:nth-child(1) {
  color: #fff;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  text-align: center;
  line-height: 31px;
  margin-top: 12px;
  margin-left: 17px;
}

.L_nav1 dl dt span:nth-child(2) {
  color: #555;
  font-size: 1.2rem;
  padding-left: 5px;
  line-height: 55px;
}

.L_nav1 dl dd {
  display: flex;
  width: 60px;
  height: 55px;
}

.L_nav1 dl dd span:nth-child(1) {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  margin-top: 17px;
  border-radius: 50%;
  background-color: #8e488e;
}

.L_nav1 dl dd span:nth-child(2) {
  line-height: 55px;
  flex: 1;
  color: #8e488e;
  font-size: 1.4rem;
  text-indent: 10px;
}

.L_nav1 dl:nth-child(1) {
  border-bottom: 1px solid #ccc;
}

.L_nav1 dl:nth-child(1) dt span:nth-child(1) {
  background-color: #fc215e;
}

.L_nav1 dl:nth-child(2) {
  border-bottom: 1px solid #ccc;
}

.L_nav1 dl:nth-child(2) dt span:nth-child(1) {
  background-color: #4fc6ee;
}

.L_nav1 dl:nth-child(3) dt span:nth-child(1) {
  background-color: #ffa64c;
}

.L_nav2 {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 165px;
  margin-top: 10px;
  background-color: #fff;
  flex-direction: column;
  margin-bottom: 55px;
}

.L_nav2 dl {
  flex: 1;
  height: 55px;
  display: flex;
}

.L_nav2 dl dt {
  flex: 1;
  display: flex;
}

.L_nav2 dl dt span:nth-child(1) {
  color: #fff;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  text-align: center;
  line-height: 31px;
  margin-top: 12px;
  margin-left: 17px;
}

.L_nav2 dl dt span:nth-child(2) {
  color: #555;
  font-size: 1.2rem;
  padding-left: 5px;
  line-height: 55px;
}

.L_nav2 dl dd {
  width: 45px;
  height: 55px;
  line-height: 55px;
  color: #8e488e;
  font-size: 1.4rem;
  text-indent: 10px;
}

.L_nav2 dl:nth-child(1) {
  border-bottom: 1px solid #ccc;
}

.L_nav2 dl:nth-child(1) dt span:nth-child(1) {
  background-color: #fc215e;
}

.L_nav2 dl:nth-child(2) {
  border-bottom: 1px solid #ccc;
}

.L_nav2 dl:nth-child(2) dt span:nth-child(1) {
  background-color: #4fc6ee;
}

.L_nav2 dl:nth-child(3) dt span:nth-child(1) {
  background-color: #ffa64c;
}

.L_side-list {
  width: 126px;
  height: 234px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 5px;
  z-index: 101;
  right: 0px;
  top: 50px;
  display: none;
}

.L_side-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.L_side-list ul li {
  height: 38px;
  border-bottom: 1px solid #5b6166;
  line-height: 38px;
  text-align: center;
}

.L_side-list ul li a {
  text-decoration: none;
  color: white;
}

.L_side-list ul li:last-child {
  border-bottom: none;
}

.L_side-list ::before {
  content: "";
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 10px;
  top: -20px;
}
