*{margin: 0;padding: 0;}
a{text-decoration: none;}
header{background: rgb(142,72,142);display: flex;}
header a,header span{flex: 1;text-align: center;color: white;padding: 15px 0;}
section{
    display: flex;flex-direction: column;
    padding-bottom: 80px;
    div{
        flex: 1;position: relative;border-bottom: 1px solid #ddd;padding-bottom: 20px;
        .money{position: absolute;left: 140px;top: 50px;color: red;}
        .wz{position: absolute;top: 10px;left: 140px;} 
        p{
            position: absolute;right: 20px;top: 50px;
            input{text-align: center;}
        }  
    }
    img{width: 60px;vertical-align: middle;padding-top: 10px;}
}

footer{
    display: flex;position: fixed;bottom: 0;left: 0;right: 0;
    a{flex: 1;text-align: center;padding: 15px 0;}
    a:nth-child(1){color: black;border-top: 1px solid rgb(142,72,142);background: white;}
    a:nth-child(2){background: rgb(221,61,51);color: white;}
    a:nth-child(3){background: rgb(142,72,142);color: white;}
}

.side-list{
        width: 126px;height: 234px;background:rgba(0,0,0,0.5);
        position: absolute;border-radius: 5px;z-index: 101;right: 58px;top: 50px;
        display: none;
        ul{
            list-style: none;padding: 0;margin: 0;
            li{
                height: 38px;border-bottom:1px solid #5b6166 ;line-height: 38px;text-align: center;
                a{text-decoration: none;color: white;}
            }
            li:last-child{border-bottom: none;} 
        }
        ::before{content: "";border:10px solid transparent ;border-bottom:10px solid rgba(0,0,0,0.5) ;position:absolute ;right: 10px;top: -20px;}
    }




