$bg:rgb(241,245,245);
body{padding: 0;margin: 0;font-family: "microsoft yahei";}
.detail_head,.detail_foot{height: 48px;text-align: center;line-height: 48px;}
.detail_head{
    z-index: 100;
    margin: 0;
    width: 100%;
    background: #8E488E;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.detail_foot{
    z-index: 100;
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid $bg;
    background: #8E488E;
}

.detail_head{
    display: flex;
    a{
        flex: 1;
        margin: 0;
        text-decoration: none;
        color: black;
        font-size: 16px;
        text-align: center;
    }
    a:nth-child(2){
        background: white;
    }
    
}
.detail_main{
    width: 100%;
    padding:38px 0;
    .swiper-container{width:100%;height: 375px;}
    .swiper-pagination-bullet{background:#e80080 !important;}
    .swiper-slide img{
        width: 100%;
        height: 375px;
    }
    .detail_price{
        padding: 3px 10px;
        border-bottom: 10px solid $bg;
        span:nth-child(1){
            color: #999;
        }
        span:nth-child(2){
            color: #e80080;
            font-size: 16px;
        }
    }
    .product_info{
        font-size: 13px;
        padding: 10px;
        p{
            span:nth-child(2){
                color: #999;
            }
        }
    }
    .detail_img{
        ul{
            list-style: none;
            padding: 0;
            li{
                width: 100%;
                img{
                    width: 100%;
                }
            }
            
        }
    }
}


.commentlist{
    list-style: none;
    padding: 0;
    margin: 0;
    
    li{
        border-top: 10px solid $bg;
        font-size: 14px;
        padding: 0 10px;
       
        .comment_name{
           
            position: relative;
            height: 39px;
            
            line-height: 39px;
            border-bottom: 1px solid $bg;
            img{
                vertical-align: middle;
                
                height: 25px;
                border-radius: 50%;
            }
            span:first-child{
                position: absolute;
                left: 60px;
                top: 20px;
                color: black;
                font-size: 14px;
            }
            span:last-child{
                position: absolute;
                right: 10px;
                font-size: 12px;
                color: #999;
            }
        }
        .comment_star{
            height: 21px;
        }
        .comment_info{
           color:black;
           margin: 10px 0;
           
        }
        .buy_date{
            font-size: 12px;
            color: #999;
        }
    }
}

.shoppingCar{
    span{
        background: darkgoldenrod;
        height: 48px;
        border-radius: 50%;
        padding:5px;
        margin-left: 5px;
        color: greenyellow;
    }
}


.detail_foot{
    font-size:14px;
    color: wheat;
    display: flex;
    a{flex: 1;text-decoration: none;color: black;}
    span{
        
        flex: 1;
        a{
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: wheat;
        }
    }
    
}

.side-list{
        width: 126px;height: 234px;background:rgba(0,0,0,0.5);
        position: absolute;border-radius: 5px;z-index: 101;right: 38px;top: 50px;
        display: none;
        ul{
            list-style: none;padding: 0;margin: 0;
            li{
                height: 38px;border-bottom:1px solid #5b6166 ;line-height: 38px;text-align: center;
                a{text-decoration: none;color: white;}
            }
            li:last-child{border-bottom: none;} 
        }
        ::before{content: "";border:10px solid transparent ;border-bottom:10px solid rgba(0,0,0,0.5) ;position:absolute ;right: 10px;top: -20px;}
    }

