

body,html{
     height: 100%;
}




.L_top{
    
    
   height: 48px;
   background-color: #8e488e;  
    display: flex;
    color: #fff;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 1.2rem;
    
                span{
                      height: 48px;
                      line-height: 48px;
                      text-align: center;
                }
                
                        span:nth-child(1){
                              display: block;
                              width: 30px;
                        }
                        
                        
                span:nth-child(2){
                      flex: 1;
                }
                
                        span:nth-child(3){
                              width: 40px;
                           font-size: 1.2rem;
                            
                        }
    
    
}
   
    
    .L_kongbai{
         height: 20px;
         display: flex;
         background-color: #f1f5f6;
    }


    .L_reg{
              display: flex;
              flex-direction: column;
              
              p{
                   display: flex;
                   height: 32px;
                   font-size: 1.2rem;
                   border-radius: 5px;
                   margin: 10px 32px 0px;
                   border: 1px solid #d5d5d5;
                   flex: 2;
                             span:nth-child(1){
                                  display: block;
                                  width: 78px;
                                  height: 32px;
                                  line-height: 32px;
                                  text-align: center;
                                  background-color: #eee;
                             }
                             
                             input{
                                    flex: 1;
                                   margin-right: 2px;
                                    border: none;
                                    border-left: 1px solid #ccc;
                             }
                             
                             
              }
              
              p:nth-child(3){
                      height: 166px;
                      display: flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                       justify-content: flex-start;
                                           
                        span:nth-child(1){
                             line-height: 166px;
                              height: 166px;
                        }
                    
                      span:nth-child(2){
                          
                               display: flex;
                               flex: 1;
                               height: 166px;
                               flex-direction: column;
                               
                                   input{
                                        line-height: 20px;
                                        border: none;
                                        border-left: 1px solid #ccc;
                                         flex: 1;
                                         border-bottom: 2px solid #ccc;
                                   }
                                   textarea{
                                        border: none;
                                        border-left: 1px solid #ccc;
                                        flex: 1;
                                        height: 60px;
                                   }
                                  
                      }
                      
                      
              }
              
              
              
              p:nth-child(4){
                  
                  flex: 1;
                  margin-top: 20px;
                   height: 34px;
                   background-color: #8e488e;
                    
                     input{
                         font-size: 1.2rem;
                          color: #fff;
                          border-radius: 3px;
                          background-color: #8e488e;
                          margin: 0px;
                     }
              }
              
              
              
              
              
              
    }


    .L_bottom{
        position:fixed;left:0;bottom:0;right:0;
        border-top: 1px solid #ccc;
         height: 52px;
         background-color: #fff;
        nav{
             padding-top: 7px;
             height: 40px;
            display:flex;justify-content:center;
               a{  
                    line-height: 16px;
                     font-size: 0.8rem;
                   color:#7b7777;flex:1;text-align:center;text-decoration:none;
               }
               a:nth-child(4){
                    color: #8e488e;
               }
       }
}

.L_side-list{
        width: 126px;height: 234px;background:rgba(0,0,0,0.5);
        position: absolute;border-radius: 5px;z-index: 101;right: 0px;top: 50px;
        display: none;
        ul{
            list-style: none;padding: 0;margin: 0;
            li{
                height: 38px;border-bottom:1px solid #5b6166 ;line-height: 38px;text-align: center;
                a{text-decoration: none;color: white;}
            }
            li:last-child{border-bottom: none;} 
        }
        ::before{content: "";border:10px solid transparent ;border-bottom:10px solid rgba(0,0,0,0.5) ;position:absolute ;right: 10px;top: -20px;}
    }
